<div id="Authors">
	<div class="CollectionHeader">
		<h2>Authors</h2>
	</div>
	<div class="Collection">
		{{#authors}}
			<div class="Author" data-id="{{id}}">
				<div class="InfoItem">
					<div class="InfoLabel">{{name}}</div>
				</div>
				<div class="InfoItem">
					<div class="InfoLabel">TV Show:</div>
					<div class="InfoValue">{{tv_show}}</div>
				</div>
			</div>
		{{/authors}}
	</div>
</div>