<!DOCTYPE html>
<html>
	<head>
		<title>{{pageTitle}}</title>
		{{> head}}
	</head>
	<body>
		<div class="PageWrapper">
			<h1>This is a site.</h1>
			<div class="PageContent">
				{{{pageContent}}}
			</div>
		</div>
	</body>
</html>